@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: max(1200px , 100vw);
    height: 70vh;
    position: relative;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top:0;
    background-color: black;
}

nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    margin-left: 7px;
    position: relative;
    z-index: 1;
}

.hero{
    font-family: 'Martel', serif;
    color: white;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-size: 48px;
    font-weight:900;
    text-align: center;
}

.hero> :nth-child(2){
    color: rgb(255,255,255);
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3){
    color: rgb(255,255,255,0.8);
    font-size: 18px;
    font-weight: 400;
}

.separation{
    height: 7px;
    background-color: rgb(71, 70, 70);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn img{
    width: 13px;
    height: 12px;
}

nav .fa-solid{
    font-size: 12px;
}

.fa-solid{
    font-size: 17px;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 7px 17px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.main input{
    color: white;
    padding: 7px 80px 8px 14px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.3);
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    height: 50vh;
    margin: auto;
    color: white;
}

.secimage{
    position: relative;
}

.secimage img{
    width: 30vw;
    position: relative;
    z-index: 10;

}

.secimage video{
    width: 23vw;
    position: absolute;
    top: 64px;
    right: 40px;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    margin-top: 10px;
    font-size: 19px;
}

